body{
    margin: 0; padding: 0;
    /* background-color: bisque; */
    height: 100%;
}
input{
    width: 100%;
}
.dg-button{
    min-width: 80px;
    text-align: center;
}
.dg-row{
    margin: 10px 5px; 
}
.todo-container{
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    /* background-color: bisque; */
}